.container-outside {
  width: 100%;
  height: auto;
  position: relative;
  flex-wrap: nowrap;
  background-color: #364f6b;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container-inside {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding-top: 5%;
  position: relative;
  background-color: honeydew;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media(max-width: 1024px) {
  .container-inside {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 10%;
    position: relative;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media(max-width: 768px) {
  .container-inside {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 19%;
    position: relative;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media(max-width: 542px) {
  .container-inside {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 30%;
    position: relative;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media(max-width: 396px) {
  .container-inside {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 70%;
    position: relative;
    background-color: honeydew;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
