<div class="row app-registro">
  <div class="col p-0">
    <div ngbDropdown class="d-inline-block" display="dynamic">
      <button mdbBtn color="success" class="waves-light dropdown-toggle m-0" type="button" aria-expanded="false"
        id="dropdownForm1" mdbWavesEffect ngbDropdownToggle
        data-mdb-dropdown-animation="on">Registrate en un solo paso!</button>
      <div ngbDropdownMenu  class="container-registro container-fluid">
        
          <div class="container app-registro">
            <h2>Registrarse es gratis</h2>
            <hr>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="mb-3">
              <label for="inputUser" class="form-label">Usuario</label>
              <input type="text" class="form-control" id="userRegister" formControlName="userRegister" placeholder="MiUsuario">
              <!-- <div id="userlHelp" class="form-text">User help</div> -->
            </div>
            <div class="mb-3">
              <label for="inputEmail" class="form-label">Correo electrónico</label>
              <input type="email" class="form-control" id="emailRegister" formControlName="emailRegister" placeholder="email@example.com">
        
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Contraseña</label>
              <show-hide-password size="sm" class="m-0" [btnOutline]="false">
                <input type="password" class="form-control" id="passwordRegister" name="passwordRegister" formControlName="passwordRegister" placeholder="MiContraseña123">
              </show-hide-password>
            </div>
            <span>Seguridad de la contraseña:</span>
            <password-strength-meter [password]="passwordRegister?.value"></password-strength-meter>
            <hr>
            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1" (click)="acepto()">
              <label id="terminosYCondiciones" class="form-check-label" for="exampleCheck1">Acepto terminos y condiciones</label>
            </div>
            <button type="submit" class="btn btn-primary disabled" id="buttonRegistrarse">Registrarse</button>
            <!-- <div class="form-text">¿Ya tienes una cuenta? <a href="javascript: void(0);"onclick="document.getElementById('dropdownForm1').click()">Ingresar</a></div> -->
          </form>
          </div>
      </div>
    </div>
  </div>
</div>
<script src="./registro.script.js"></script>